{% extends "base.html" %}
{% load humanize %}
{% block title %}My amazing blog{% endblock %}
{% block content %}

<form action="." method="POST">
{% csrf_token %}
{{speakers_add_form}}
<input type="submit" label="add">
</form>

{% for speakers_item in speakers %}
{% include 'speakers/speakers_item.html' %}
{% endfor %}
<p>{% filter force_escape|apnumber %}
1
{% endfilter %}</p>
{% filter force_escape|intcomma %}
45000000000000000000000000000000000000
{% endfilter %}
<p>{% filter force_escape|intword %}
450000000000
{% endfilter %}</p>

<p>{% filter force_escape|ordinal %}
23
{% endfilter %}</p>
{% endblock %}

