<div>
<h2>{{ speakers_item.first_name}}</h2>
 <p>{{ speakers_item.last_name }}</p>
    <div>
        <a href= {% url 'edit' speakers_item.id %}>Редактировать</a>
        <a href= {% url 'publish' speakers_item.id %}> Опубликовать </a>   
        <a href= {% url 'delete' speakers_item.id %}> Удалить </a> 
    </div>
    {% if speakers_item.leader %}
    leader
    {% endif %}
</div>
