<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="style.css" />
 <title>{% block title %}My amazing sitewwwww{% endblock%}</title>
</head>
<body>
 <div id="sidebar">
 {% block sidebar %}

 {% endblock %}
 </div>
 <div id="content">
 {% block content %}{% endblock %}
 </div></body>
</html>
