<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="style.css" />
 <title>{% block title %}My amazing site{% endblock%}</title>
</head>
{% autoescape on %}
<body>
<nav>
    <a href='#'>Главная</a>
    <a href='#'>Новости</a>
    <a href='#'>Спикеры</a>
    <a href='#'>Организации</a>
    <a href='#'>Контакты</a>
</nav>
{% load cache %}
{% cache 500 sidebar %}
 <div id="sidebar">
{% block sidebar %}
</div>
{% endblock %}
{% endcache %}


<div id="content">
{% block content %}{% endblock %}
</div>
<div class="pagination">
 
    {% if speakers.has_previous %}
        <a href="?page={{ speakers.previous_page_number }}">←</a>
    {% endif %}
 
    {% for num in speakers.paginator.page_range %}
        {% if num == speakers.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %} 
    {% endfor %}
 
    {% if speakers_list.has_next %}
        <a href="?page={{ speakers_list.next_page_number }}">→</a>
    {% endif %}
</div>
{% load staticfiles %}
<img src="{% static "my_app/myexample.png" %}" alt="My image"/>
</body>
{% endautoescape %}
{% comment %}
Это комментарий, его не видно
{% endcomment %}

{% filter force_escape|lower %}
ЭТОТ ТЕКСТ БУДЕТ ВЫВОДИТЬСЯ МАЛЕНЬКИМИ БУКВАМИ.
{% endfilter %}


</html>
